body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* UTILITY */
/* scrollbar */
/* width */
::-webkit-scrollbar {
width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

/* scrollbar */
/* list song */

/* list song */
/* button */

/* button */
/* color */
.color-grey{
	color: #A2A2A2;
}
.color-white{
	color: #fff
}
/* color */
/* background color */

/* background color */
/* text position */
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
/* text position */

/* UTILITY */
/* ASIDE */
/* layout */
aside{
	color: white;
	float: left;
	background-color: #000000;
	height: calc(100vh - 100px);
	width: 50px;
	overflow-y: auto;
}
aside .lg{
	display: none;
}
/* layout */

/* logo */
aside{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
aside .xs {
	text-align: center;
}
aside .xs i{
	font-size: 35px;
}
aside .selection{
	list-style-type: none;
	padding: 0;
}
/* logo */
/* selection */

/* selection */
/* playlist */

/* playlist */
@media all and (min-width: 768px){
/* logo */

/* logo */
/* selection */

/* selection */
/* playlist */

/* playlist */
}


/* ASIDE */
/* MAIN */
/* layout */
main{
	float: left;
	background-color: #141922;
	height: calc(100vh - 100px);
	width: calc(100% - 50px);
	overflow-y: auto;
}
/* layout */
/* header */
header{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100px;
	width: calc(100% - 200px);
}
header .my-btn-default{
	background-color: transparent;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 20px;
}
/* header */
/* nav */
#navbar{
	margin-top: 100px;
	height: 50px;
	width: 100%;
}
#navbar ul{
	width: 70%;
	height: 100%;
	padding: 0;
	margin: auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
}
#navbar li{
	padding: 4px;
	color: salmon;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}
/* nav */
/* songs page */
.songs-page{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.songs-page div{
	background-color: rgb(0, 168, 104);
	width: 200px;
	height: 237px;
	margin: 10px;
}
/* songs page */
/* MAIN */
/* FOOTER */
/* layout */
footer{
	float: left;
	background-color: #282828;
	height: 100px;
	width: 100%;
}

/* layout */


/* FOOTER */

/* @media query */
@media all and (min-width: 768px){
	aside{
		width: 200px
	}
	main{
		width: calc(100% - 200px);
	}
	aside .xs{
		display: none;
	}
	aside .lg{
		display: block;
	}
}
@media all and (min-width: 992px){
	
}
@media all and (min-width: 1200px){
	
}
/* @media query */





